.cart-styles{
    .cont{
        background-color: rgb(237, 244, 254);
        min-height: 50vh;
    }
    .cart-box{
        border: 2px solid white;
        background-color: white;
        
    }
    .cart-item{
        margin-bottom: 5px;
        padding: 10px;
        cursor: pointer;
        border-radius: 15px;
    }
    .cart-item:hover{
        transition-duration: 300ms;
        background-color: rgba(197, 196, 196, 0.121);
    }
    .close-cart-btn{
        color: rgb(159, 40, 40);
        font-size: 20px;
        margin-left: 20px;
        position: relative;
        bottom: 0px;
    }
    .close-cart-btn:hover{
        border-radius: 100%;
        transition-duration: 100ms;
        color: rgb(255, 255, 255);
        background-color: rgb(159, 40, 40);
    }
    .pay-screen{
        background-color: bisque;
    }
}