.cart-styles{
    .cont{
        background-color: rgb(237, 244, 254);
        min-height: 50vh;
    }
    .cart-box{
        border: 2px solid white;
        background-color: white;
        
    }
    .cart-item{
        margin-bottom: 5px;
        padding: 10px;
        cursor: pointer;
        border-radius: 15px;
    }
    .close-cart-btn{
        color: rgb(91, 20, 20);
        font-size: 20px;
        margin-left: 20px;
        position: relative;
        bottom: 3px;
    }
    .close-cart-btn:hover{
        color: rgb(186, 37, 37);
    }
    .pay-screen{
        background-color: bisque;
    }
}