.footer-styles{
    .bgTop{
        background-color: #194050;
    }
    .bgBt{
        border-top: 1px solid rgb(127, 127, 127);
        background-color: #0e303d;
    }
    .heading{
        color: white;
        font-weight: 700;
    }
    .white-links{
        font-size: 20px;
        text-decoration: none;
        font-weight: 300;
        color: white;
    }
    .white-links:hover{
        color: rgb(74, 168, 205);
    }
    .newsletter-container{
        border: 2px solid white;
        display: flex;
        height: 40px;
    }
    .newsletter-input{
        background-color: #0e3e53;
        color:white;
        width: 80%;
        border-radius: 0px;
        border: none;
        outline: none;
        padding-left: 10px;
    }
    .newsletter-input::placeholder{
        color: rgba(255, 255, 255, 0.794);
    }
    .newsletter-btn{
        background-color: #1e7a88;
        color: white;
        border: none;
        font-size: 12px;
        width: 20%;
    }
    .newsletter-btn:hover{
        transition-duration: 300ms;
        background-color: #106977;
    }
    .social-links-container{
        opacity: 0.9;
        display: flex;
        gap:5px;
        background-color: white;
        width: 110px;
        justify-content: center;
        border-radius: 25px;
        padding: 4px 5px;
    }
    .social-links-container:hover > Link > img {
        // scale: 1.2;
    }
    .social-links-mobile{
        display: flex;
        justify-content: center;
    }
    .social-links-mobile > .social-white{
        background-color: white;
        width: 35%;
        padding: 5px;
        display: flex;
        gap: 2px;
        justify-content: center;
        border-radius: 20px;
    }
}