.home-styles{
    // .hero{
    //     background: url("../public/images/hero.png");
    //     height: 96vh; 

    //     /* Center and scale the image nicely */
    //     background-position: center;
    //     background-repeat: no-repeat;
    //     background-size: cover;
    // }

    .theme{ background:linear-gradient(0deg, rgba(34, 39, 77, 0.516), rgba(93, 14, 60, 0.434)), url("../public/activity-bgs/theme.jpg"); }
    .about-us{ background:linear-gradient(0deg, rgba(34, 39, 77, 0), rgba(93, 14, 60, 0.434)), url("../public/images/aboutmain.jpg"); }
    .water{ background:linear-gradient(0deg, rgba(34, 39, 77, 0.516), rgba(93, 14, 60, 0.434)), url("../public/activity-bgs/water.jpg"); }
    .city{ background:linear-gradient(0deg, rgba(34, 39, 77, 0.516), rgba(93, 14, 60, 0.434)), url("../public/activity-bgs/city.jpg"); }
    .luxury{ background:linear-gradient(0deg, rgba(34, 39, 77, 0.516), rgba(93, 14, 60, 0.434)), url("../public/activity-bgs/luxury.jpeg"); }
    .adv{ background:linear-gradient(0deg, rgba(34, 39, 77, 0.516), rgba(93, 14, 60, 0.434)), url("../public/activity-bgs/adventure.jpg"); }
    .activity{
        height: 46vh; 
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .empty-bg{
        height: 32vh; 
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
      
      bottom: -5px;
    }
    .navBar{
      text-align: center;
    }
    .navLink{
      display: inline-block;
      min-width: 100px;
      text-decoration: none;
      color: white;
  
      font-size: 16px;
      font-weight: 600;
  
      text-shadow: 2px 2px 5px rgba(0,0,0,0.52);
    }


    .dropbtn {
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        background-color: rgba(255, 255, 255, 0);
        min-width: 100px;
        max-width: 100px;
        font-weight: 600;
    }
    .dropbtn:hover{
        color: rgb(156, 156, 156);
    }
      
      .dropup {
        position: relative;
        display: inline-block;
      }
      
      .dropup-content {
        display: none;
        position: absolute;
        background-color: #211c1c;
        min-width: 180px;
        z-index: 1;
        left: 20px;
        padding-bottom: 10px;
        padding-top: 5px;
      }
      
      .dropup-content .links {
        color: white;
        padding-left: 20px;
        padding-top: 5px;
        text-align: left;
        text-decoration: none;
        display: block;
      }
      .links:hover{
        cursor: pointer;
        color: grey;
      }
      
      .dropup:hover .dropup-content {
        display: block;
      }

      .hero-cont{
        padding-top: 100px;
        padding-right: 30px;
      }

    .swiper {
        width: 100%;
        height: 100%;
    }
      
    .swiper-slide {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .swiper-slide img {
        zoom: 100%;
    }
      
    .card-slide{
    }
    .card-heading{
        font-weight: 700;
        font-size: 20px;
        color: rgb(49, 49, 49);
    }
    .card-price{
        float: right;
        font-weight: 700;
        font-size: 25px;
        color: #424141;
    }
    .gold{
        color: goldenrod;
    }
    .border-btm{
        border-bottom: 8px solid rgb(13, 109, 107);
    }

    .why-us-section{
      //TOUR
      background: url("../public/images/bg-004.png");
      height: 100%;

      /* Center and scale the image nicely */
      background-repeat: no-repeat;
      background-size: cover;
    }
    .section-bg{
      //TOUR
      background: url("../public/images/bg-001.png");

      /* Center and scale the image nicely */
      background-repeat: no-repeat;
      background-size: cover;
    }

    .detail-btn{
      text-decoration: none;
      color: white;
      background-color: rgb(52, 99, 179);
      padding: 8px 18px 8px 18px;
      border-radius: 25px;
    }
}