.home-styles{
    .hero{
        background: url("../public/images/hero.png");
        height: 96vh; 

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    
    .dropbtn {
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        background-color: rgba(255, 255, 255, 0);
        min-width: 100px;
        max-width: 100px;
        font-weight: 600;
    }
    .dropbtn:hover{
        color: rgb(156, 156, 156);
    }
      
      .dropup {
        position: relative;
        display: inline-block;
      }
      
      .dropup-content {
        display: none;
        position: absolute;
        background-color: #211c1c;
        min-width: 180px;
        z-index: 1;
        left: 20px;
        padding-bottom: 10px;
        padding-top: 5px;
      }
      
      .dropup-content .links {
        color: white;
        padding-left: 20px;
        padding-top: 5px;
        text-align: left;
        text-decoration: none;
        display: block;
      }
      .links:hover{
        cursor: pointer;
        color: grey;
      }
      
      .dropup:hover .dropup-content {
        display: block;
      }

      .hero-cont{
        padding-top: 100px;
        padding-left: 120px;
      }

      .hero-txt-1{
        font-size: 150px;
        font-weight: 700;
        text-shadow: 11px 7px 6px rgba(0,0,0,0.6);
      }
      .hero-txt-2{
        font-size: 70px;
        font-weight: 200;
        text-shadow: 5px 5px 6px rgba(0,0,0,0.6);
      }

    .swiper {
        width: 100%;
        height: 100%;
    }
      
    .swiper-slide {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .swiper-slide img {
        zoom: 100%;
    }
      
    .card-slide{
    }
    .card-heading{
        font-weight: 700;
        font-size: 20px;
        color: rgb(49, 49, 49);
    }
    .card-price{
        float: right;
        font-weight: 700;
        font-size: 25px;
        color: #424141;
    }
    .gold{
        color: goldenrod;
    }
    .border-btm{
        border-bottom: 2px solid goldenrod;
    }
}