@import 'HomeStyles.scss';
@import 'HeaderStyles.scss';
@import 'PortanLayout.scss';
@import 'TourStyles.scss';
@import 'FooterStyles.scss';
@import 'CustomerLogin.scss';
@import 'Cart-styles.scss';
@import 'sliderCSS.scss';
@import 'SearchBar.scss';
@import 'svg.scss';
@import 'bar-styles.scss';
@import 'my-offers.scss';
*{
  font-family: 'Jost', sans-serif;
}
html,
body {
  overflow-x: hidden;
}
.cur{
    cursor: pointer;
}

.ico{
    transition-duration: 300ms;
    margin-bottom: 3px;
}

.custom-btn{
    transition-duration: 300ms;
    border: none;
    background-color: rgb(24, 143, 187);
    color: white;
    font-weight: 700;
    padding: 10px 30px 10px 30px;
    border-radius: 25px;
}

.custom-btn:hover {
    transition-duration: 300ms;
    background-color: rgb(20, 94, 121);
}

.shade{
    box-shadow: 10px 10px 20px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 20px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px -5px rgba(0,0,0,0.75);
}

.text-shade{
    text-shadow: 4px 4px 10px rgba(0,0,0,0.6);
}

.white-bg{ background-color: white; }

.wh-txt{ color: white!important; }
.grey-txt{ color: rgb(85, 85, 85)!important; }
.black-txt{ color: rgb(63, 63, 63)!important; }
.silver-2-txt{ color: rgb(158, 158, 158)!important; }
.silver-3-txt{ color: rgb(130, 130, 130)!important; }
.silver-txt{ color: silver!important; }
.wh-txt{ color: white!important; }
.blue-txt{ color: rgb(8, 78, 77)!important; }
.lt-blue-txt{ color: #61c7c8!important; }
.yellow-txt{ color: #ebf13c!important; }

.fs-10 { font-size: 10px!important; }
.fs-11 { font-size: 11px!important; }
.fs-12 { font-size: 12px!important; }
.fs-13 { font-size: 13px!important; }
.fs-15 { font-size: 15px!important; }
.fs-16 { font-size: 16px!important; }
.fs-17 { font-size: 17px!important; }
.fs-18 { font-size: 18px!important; }
.fs-19 { font-size: 19px!important; }
.fs-20 { font-size: 20px!important; }
.fs-21 { font-size: 21px!important; }
.fs-22 { font-size: 22px!important; }
.fs-23 { font-size: 23px!important; }
.fs-24 { font-size: 24px!important; }
.fs-25 { font-size: 25px!important; }
.fs-26 { font-size: 26px!important; }
.fs-27 { font-size: 27px!important; }
.fs-28 { font-size: 28px!important; }
.fs-29 { font-size: 29px!important; }
.fs-30 { font-size: 30px!important; }
.fs-31 { font-size: 31px!important; }
.fs-32 { font-size: 32px!important; }
.fs-33 { font-size: 33px!important; }
.fs-34 { font-size: 34px!important; }
.fs-35 { font-size: 35px!important; }
.fs-40 { font-size: 40px!important; }
.fs-45 { font-size: 45px!important; }
.fs-55 { font-size: 55px!important; }
.fs-60 { font-size: 60px!important; }
.fs-65 { font-size: 65px!important; }

.fw-200{ font-weight: 200; }
.fw-300{ font-weight: 300; }
.fw-400{ font-weight: 400; }
.fw-500{ font-weight: 500; }
.fw-600{ font-weight: 600; }
.fw-700{ font-weight: 700; }
.fw-800{ font-weight: 800; }
.fw-900{ font-weight: 900; }

.right{ float: right; }
.error-line{ color:'red'!important }

.rel-btm-2{
  position: relative;
  bottom: 2px;
}

.bg-signin{
  background-image: url("../public/loginBg.png");
  overflow: hidden;

  /* Full height */
  height: 100vh; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-inp{
  color: rgb(0, 0, 0);
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid rgb(52, 50, 50);
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #162a4600;
  position: relative;
  left: 30px;
  text-align: left;
  width: 60%;
}

.login-inp:focus{
  outline: #215c7100;
  border-bottom: 3px solid rgba(27, 141, 156, 0.687);
  border-top: none;
  border-left: none;
  border-right: none;
}

.username-img{
  position: relative;
  right: 1%;
}

.login-btn{
  background-color: rgb(6, 150, 172)!important;
  border: 1px solid rgb(6, 150, 172)!important;
  border-radius: 55px!important;
  padding:12px 50px 12px 50px!important;
  font-weight: 500!important;
  color: white;
  width: 60%;
}

.login-btn:hover{
  transition-duration: 300ms;
  background-color: rgb(6, 150, 172)!important;
  color: rgb(238, 238, 238);
}

.flip{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.btn-custom{
  cursor: pointer;
  background-color: rgb(6, 150, 172)!important;
  color: white;
  padding: 5px 20px 5px 20px;
  border-radius: 15px;
  border: none;
}

.btn-custom:hover{
  transition-duration: 300ms;
  background-color: rgb(6, 121, 139)!important;
}

.btn-custom-2{
  cursor: pointer;
  background-color: rgb(6, 150, 172)!important;
  color: white;
  padding: 5px 20px 5px 20px;
  border-radius: 3px;
  border: none;
}

.btn-custom-2:hover{
  transition-duration: 300ms;
  background-color: rgb(6, 121, 139)!important;
}

.tableFixHead thead th {
  transition-duration: 300ms;
  position: sticky;
  top: 0;
  background-color: rgb(239, 238, 238);
  border: none;
  z-index: 1;
}

.modify-edit:hover{
  cursor: pointer;
  color: rgb(6, 150, 172)!important;
}

.card-cntnt{
  color: grey;
  font-size: 13px;
  line-height: 15px;
  margin-top: 5px;
}

.arabic-bg{
  background:linear-gradient(rgb(51, 68, 113), rgba(199, 215, 245, 0.733)), url("../public/images/bg-3.png");
  padding: 20px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cross-icon:hover{
  cursor: pointer;
  transition-duration: 300ms;
  color: rgba(153, 34, 34, 0.84);
}

.edit-icon:hover{
  cursor: pointer;
  transition-duration: 300ms;
  color: rgba(34, 99, 153, 0.84);
}

.list-items{
  background-color: rgba(0, 145, 255, 0.126);
  padding: 2px 8px 2px 8px;
  color: rgb(37, 37, 113);
  border-radius: 5px;
}

.list-items-2{
  background-color: rgba(0, 145, 255, 0.036);
  padding: 2px 8px 2px 8px;
  color: rgb(27, 27, 27);
  border-radius: 5px;
  border: 1px solid silver;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0px;
  background-color: #000000a4;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
}

.dropdown-content Link {
  text-decoration: none;
  display: block;
}

.menu-drop-links{
  color: white;
  margin-top: 10px;
}


.dropdown:hover .dropdown-content {display: block;}

.img-box{
  cursor: pointer;
}

.img-cross{
  opacity: 0.5;
  color: rgb(190, 65, 65);
  position: absolute;
  margin-left: 8.5%;
  margin-top: 3.5%;
  background-color: rgba(201, 201, 201, 0.811);
  font-size: 38px;
  border-radius: 50px;
}

.img-box:hover > .img-cross{
  opacity: 1;
}

.signIn-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.signInBtn {
  background-color: aqua;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.cart-btn{
  background-color: rgb(151, 57, 47)!important;
  color: white;
  font-weight: 400;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  border: none;
  width: 100%;
}

.cart-btn:hover{
  transition-duration: 300ms;
  background-color: rgb(99, 31, 13)!important;
}

.cart-btn:disabled{
  background-color: silver!important;
}

.cart-price{
  color: rgb(34, 50, 113);
  font-weight: 600;
  font-size: 23px;
}

.view-more{
  width: 100%;
  background-color: rgb(0, 50, 158);
  border: 1px solid rgb(9, 37, 99);
  padding: 10px 5px;
  text-align: center;
  font-weight: 600;
  border-radius: 4px;
  color:white;
}
.view-more:hover{
  transition-duration: 300ms;
  background-color: rgb(11, 40, 103);
}

.checkout-now{
  width: 100%;
  background-color: rgb(224, 120, 16);
  border: 1px solid rgb(112, 62, 11);
  padding: 10px 5px;
  text-align: center;
  font-weight: 600;
  border-radius: 4px;
  color:white;
}
.checkout-now:hover{
  transition-duration: 300ms;
  background-color: rgb(148, 76, 4);
}

.date-list-boundary{
  border-bottom: 1px solid rgb(94, 94, 94);
  margin: 3px;
  padding-top: 9px;
}

.date-list-boundary:hover{
  transition-duration: 300ms;
  background-color: rgba(192, 192, 192, 0.153);
}

.specific-date{
  color: grey;
}

.close-icon{
  color: rgb(142, 24, 24);
  font-size: 20px;
  cursor: pointer;
}

.text-shadow{
  text-shadow: 2px 2px 10px #000000;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

div.react-datepicker-wrapper > div > input{
  background-color: white;
  width: 80%;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 4px;
  padding-left: 10px;
}

.dark-placeholder::placeholder{
  color: grey;
}

body > div:nth-child(6) > div > div.ant-modal-wrap > div > div.ant-modal-content > div > div > form > div:nth-child(3) > div > div > div > div.css-1hwfws3 > div.css-1wa3eu0-placeholder{
  color: white;
}

.time-slot{
  cursor: pointer;
  background-color: rgb(247, 193, 124);
  color: white;
  font-weight: 500;
  padding: 2px;
  font-size: 12px;
  border-radius: 5px;
}

.time-slot:hover{
  transition-duration: 300ms;
  background-color: antiquewhite;
  color: rgb(46, 46, 46);
  font-weight: 600;
}

.payment-message{
  margin-top: 20px;
  color: rgb(155, 38, 38);
  font-size: 18px;
}

.cart-logged-in-warning{
  font-size: 23px;
  margin-top: 40%;
  text-align: center;
  font-weight: 400;
  color: rgb(79, 78, 78);
}

.swiper-button-next {
  position: relative;
  right:-3px!important;
  width: 45px;
}

.swiper-button-prev {
  position: relative;
  left: -2px!important;
  width: 45px;
}

.filter{
  -webkit-filter: contrast(111%);
  -webkit-filter: saturate(2.5);
}
.filter-2{
  -webkit-filter: contrast(99%);
  -webkit-filter: saturate(1.7);
}

.overlay
{
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.overlay-text
{
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: white;
  font-size: 170%;
  font-weight: 700;
}

.overlay-btm-line{
  background-color: white;
  height: 2px;
  width: 100px;
  margin-top: 10px;
}

.full-overlay-line{
  background-color: white;
  height: 1px;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 2px;
}

.hover-shadow{
  cursor: pointer;
}

.hover-shadow:hover{
  transition-duration: 300ms;
  box-shadow: 10px 10px 13px -5px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 13px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 13px -5px rgba(0,0,0,0.75);
}

@media screen and (min-width: 1200px) {
  .mySwiper{
    margin-top: -10px;
    padding-left: 28px!important;
    padding-right: 28px!important;
  }
  .swiper-button-next {
    position: relative;
    right:0px!important;
  }
}

// @media screen and (min-width: 1390px) {
//   .mySwiper{
//     padding-left: 30px!important;
//     padding-right: 30px!important;
//   }
//   .swiper-button-next {
//     position: relative;
//     right:0px!important;
//   }
// }

.book-home-btn{
  background-color: red;
  color: white;
}

.hero-txt-1{
  font-size: 80px;
  font-weight: 700;
  text-shadow: 11px 7px 6px rgba(0,0,0,0.6);
}

.hero-txt-2{
  font-size: 70px;
  font-weight: 600;
  text-shadow: 5px 5px 6px rgba(0,0,0,0.6);
}

.hero-icons{
  transition-duration: 200ms;
  cursor: pointer;
  height: 40%;
}

.hero-icons:hover{
  transition-duration: 200ms;
  height: 45%;
  position: relative;
}

@media screen and (min-width: 1100px) {
  .hero-icons-imgs{
    height: 150px !important;
  }
  .top-text{ top:5vh; }
  .hero-txt-1{
    font-size: 70px;
  }
}

@media screen and (min-width: 1250px) {
  .hero-icons-imgs{
    height: 150px !important;
  }
  .top-text{ top:5vh; }
  .hero-txt-1{
    font-size: 80px;
  }
}

@media screen and (min-width: 1499px) {
  .top-text{ top:7vh; }
  .hero-txt-1{
    font-size: 120px;
  }
}
@media screen and (min-width: 1900px) {
  .top-text{ top:10vh; }
  .hero-txt-1{
    font-size: 150px;
  }
  .hero-icons-imgs{
    height: 190px !important;
  }
}

.hov-row{
  transition-duration: 300ms;
  background-color: white;
  cursor: pointer;
}

.hov-row:hover{
  transition-duration: 300ms;
  background-color: rgb(238, 246, 255);
}

.tour-booking-list{
  border: 1px solid grey;
  border-radius: 4px;
  margin: 7px;
}

.flag-hov{
  transition-duration: 300ms;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 2px;
  //padding: 3px;
}

.custom-btn-02{
  font-size: 10px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  padding: 5px 15px 5px 15px;
}
.custom-btn-mobile-02{
  width: 100%;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
}

.custom-btn-02:hover{
  transition-duration: 400ms;
  background-color: rgb(163, 14, 14);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 25px;
  padding: 5px 15px 5px 15px;
}

.bg-02{
  background-image: url("../public/images/tours-bg-1.png");
  overflow: hidden;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.why-us-bg-clr{
  background-color: rgb(234, 234, 234);
}

.tour-opt{
  border: 1px solid silver;
  padding: 10px;
  border-radius: 2px;
}

.inc-dec{
  color: #61a7c8;
  cursor: pointer;
  border: 1px solid #61a7c8;
  text-align: center;
  border-radius: 100%;
}

div.react-datepicker-wrapper > div > input{
  width: 89%;
  border-color: #cacaca;
}

.inc-dec:hover{
  color: #3e73c8;
}

.bgc-01{
  background-color: #e5f0fc;
}

.bgc-02{
  background-color: #8f8f8f2f;
}

.time-box{
  display: inline-block;
  margin: 4px 14px 4px 4px;
  padding: 4px 14px 4px 14px;
  color: white;
  font-weight: 500;
  background-color: #3e73c8d3;
  cursor: pointer;
}

.selected-time-box{
  background-color: rgba(201, 139, 25, 0.842);
}

.time-box:hover{
  transition-duration: 300ms;
  background-color: rgba(201, 139, 25, 0.842);
}

.booking-row{
  cursor: pointer;
  background-color: white;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 12px 10px;
  box-shadow: 0px 0px 16px -17px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 16px -17px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 16px -17px rgba(0,0,0,0.75);
  margin: 0px;
}

.booking-row:hover{
  transition-duration: 300ms;
  background-color: rgba(242, 234, 206, 0.445);
}

.copy-tag{
  color: silver;
}

.copy-tag:hover{
  color: grey;
}

.ticket-row{
  padding: 20px 10px 20px 10px;
  cursor: pointer;
  border-radius: 15px;
}

.selected-ticket-row{
  padding: 20px 10px 20px 10px;
  cursor: pointer;
  border-radius: 15px;
  background-color: #1f478836;
}

.ticket-row:hover{
  transition-duration: 300ms;
  background-color: #1f478836;
}

.inventory-opt-list{
  background-color: #e5f0fc83;
  margin-top: 10px;
  border-radius: 25px;
  padding: 2px;
  border:1px solid rgba(41, 41, 100, 0.251);
}

.curr-off{
  cursor:not-allowed;
  background-color: rgb(193, 193, 193)!important;
  color: rgb(44, 44, 44);
}

.curr-off:hover{
  background-color: rgb(193, 193, 193)!important;
}

.flag-box{
  border: 1px solid rgb(187, 187, 187);
  margin-top: 17px!important;
  padding-top: 5px;
  border-radius: 5px;
}

.history-list{
  border-bottom: 1px solid silver;
  //border-radius: 14px;
  padding: 10px;
}

.stock-number{
  background-color: rgb(95, 212, 95);
  color: white;
  border: 5px solid green;
  border-radius: 200px;
  text-align: center;
  height: 33px;
  width: 33px;
}

.invert{
  filter: invert(100);
}

.home-search-bar{
  position: absolute;
  width: 100%;
  text-align: center;
}

.bar {
  background-color: rgb(245, 245, 245);
  border: 1px solid grey;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.search-tour-box{
  //border: 1px solid grey;
  cursor: pointer;
  padding-bottom: 50px;
  
}
.search-box-container{
  transition-duration: 200ms;
  border-radius: 10px 10px 10px 10px;
}
.search-box-container:hover{
  transition-duration: 200ms;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
.search-box-img {
  border-radius: 10px 10px 0px 0px;
  border: 1px solid rgb(203, 203, 203);
}
.my-custom-paragraph{
  margin: 0px;
  margin-left: 5px;
}
.search-bob-bottom{
  background-color: white;
  height: 120px;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid rgb(203, 203, 203);
}

.search-page{
  cursor: pointer;
  //display: inline-block;
  margin: 10px 10px;
  background-color: #0d6788ea;
  height: 50px;
  width: 50px;
  text-align: center;
  color: white;
  border-radius: 100%;
  border: none;
}
.search-page:hover{
  transition-duration: 300ms;
  background-color: #094c64ea;
}
.search-box-btn{
  background-color: #0d6788ea;
  color: white;
  border-radius: 5px;
  font-size: 12px;
}
.search-box-btn:hover{
  transition-duration: 100ms;
  background-color: #063a4dea;
}

.signin-bg{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgb(18, 44, 148);
  //text-align: center;
  color: white;
}
.subscribe-btn{
  color: white;
  background-color: rgb(11, 28, 95);
  padding: 20px;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
}

.insight-box{
  background-color: #2f4568bc;
  border-radius: 25px;
  color: white;
  padding: 20px;
  cursor: pointer;
}

.row-hover:hover{
  background-color: rgb(224, 224, 224);
}
.row-selected{
  background-color: rgb(224, 224, 224);
}

.reservs-cont{
  background-color: rgba(192, 192, 192, 0.225);
  border-radius: 15px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.tickets-cont{
  background-color: rgb(230, 230, 230);
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.ticket-cont-wh-bg{
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 15px -7px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 15px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px -7px rgba(0,0,0,0.75);
}

.cropped { 
  width: 276px; 
  height: 430px; 
  object-fit: cover;
  object-position: 25% 25%;
  border-radius: 25px; 
} 
.left-ticket-box {
  background-color:rgb(16, 195, 195); 
  border-radius:25px;
  height:430px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}
.tictet-field{
  color: rgb(14, 83, 9);
}
.tictet-icon{
  color: rgb(14, 83, 9)!important;
  position: relative;
  bottom: 1px;
}
.ticket-line{
  background-color: white;
  width: 100%;
  font-weight: 800!important;
  height: 1px;
  margin-top: 10px;
}

.bg-green{
  background-color: rgba(173, 238, 173, 0.763);
}

.row-hov:hover{
  cursor: pointer;
  background-color: #61a7c834;
}

.cart-note{
  background-color: #3e73c81f;
  color: #3e73c8;
  border: 1px solid #3e73c893;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}