@import 'HomeStyles.scss';
@import 'HeaderStyles.scss';
@import 'PortanLayout.scss';
@import 'TourStyles.scss';
@import 'FooterStyles.scss';
@import 'CustomerLogin.scss';
@import 'Cart-styles.scss';

html, body{
  font-family: 'Poppins', sans-serif;
}

.cur{
    cursor: pointer;
}
.ico{
    transition-duration: 300ms;
    margin-bottom: 3px;
}
.custom-btn{
    transition-duration: 300ms;
    border: none;
    background-color: rgb(24, 143, 187);
    color: white;
    font-weight: 700;
    padding: 10px 30px 10px 30px;
    border-radius: 25px;
}

.custom-btn:hover > .ico{
    transition-duration: 300ms;
    display: inline-block;
    margin-left: 20px;
    
}

.shade{
    box-shadow: 10px 10px 20px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 20px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px -5px rgba(0,0,0,0.75);
}
.text-shade{
    text-shadow: 4px 4px 10px rgba(0,0,0,0.6);
}

.white-bg{ background-color: white; }

.wh-txt{ color: white!important; }
.grey-txt{ color: rgb(85, 85, 85)!important; }
.black-txt{ color: rgb(30, 30, 30)!important; }
.silver-txt{ color: silver!important; }
.wh-txt{ color: white!important; }

.fs-12 { font-size: 12px!important; }
.fs-13 { font-size: 13px!important; }
.fs-15 { font-size: 15px!important; }
.fs-16 { font-size: 16px!important; }
.fs-17 { font-size: 17px!important; }
.fs-18 { font-size: 18px!important; }
.fs-19 { font-size: 19px!important; }
.fs-20 { font-size: 20px!important; }
.fs-21 { font-size: 21px!important; }
.fs-22 { font-size: 22px!important; }
.fs-23 { font-size: 23px!important; }
.fs-24 { font-size: 24px!important; }
.fs-25 { font-size: 25px!important; }
.fs-26 { font-size: 26px!important; }
.fs-27 { font-size: 27px!important; }
.fs-28 { font-size: 28px!important; }
.fs-29 { font-size: 29px!important; }
.fs-30 { font-size: 30px!important; }
.fs-31 { font-size: 31px!important; }
.fs-32 { font-size: 32px!important; }
.fs-33 { font-size: 33px!important; }
.fs-34 { font-size: 34px!important; }
.fs-35 { font-size: 35px!important; }

.fs-45 { font-size: 45px!important; }


.fs-65 { font-size: 65px!important; }

.fw-200{ font-weight: 200; }
.fw-300{ font-weight: 300; }
.fw-400{ font-weight: 400; }
.fw-500{ font-weight: 500; }
.fw-600{ font-weight: 600; }
.fw-700{ font-weight: 700; }
.fw-800{ font-weight: 800; }
.fw-900{ font-weight: 900; }

.right{ float: right; }
.error-line{ color:'red'!important }

.bg-signin{
  background-image: url("../public/loginBg.png");
  overflow: hidden;

  /* Full height */
  height: 100vh; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-inp{
  color: rgb(0, 0, 0);
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid rgb(52, 50, 50);
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #162a4600;
  position: relative;
  left: 30px;
  text-align: left;
  width: 60%;
}
.login-inp:focus{
  outline: #215c7100;
  border-bottom: 3px solid rgba(27, 141, 156, 0.687);
  border-top: none;
  border-left: none;
  border-right: none;
}

.username-img{
  position: relative;
  right: 1%;
}

.login-btn{
  background-color: rgb(6, 150, 172)!important;
  border: 1px solid rgb(6, 150, 172)!important;
  border-radius: 55px!important;
  padding:12px 50px 12px 50px!important;
  font-weight: 500!important;
  color: white;
  width: 60%;
}
.login-btn:hover{
  transition-duration: 300ms;
  background-color: rgb(6, 150, 172)!important;
  color: rgb(238, 238, 238);
}

.flip{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.btn-custom{
  cursor: pointer;
  background-color: rgb(6, 150, 172)!important;
  color: white;
  padding: 5px 20px 5px 20px;
  border-radius: 15px;
  border: none;
}
.btn-custom:hover{
  transition-duration: 300ms;
  background-color: rgb(6, 121, 139)!important;
}

.tableFixHead thead th {
  transition-duration: 300ms;
  position: sticky;
  top: 0;
  background-color: rgb(239, 238, 238);
  border: none;
  z-index: 1;
}

.modify-edit:hover{
  cursor: pointer;
  color: rgb(6, 150, 172)!important;
}

.card-cntnt{
  color: grey;
  font-size: 13px;
  line-height: 15px;
  margin-top: 5px;
}

.arabic-bg{
  background:linear-gradient(rgb(51, 68, 113), rgba(199, 215, 245, 0.733)), url("../public/images/bg-3.png");
  padding: 20px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cross-icon:hover{
  cursor: pointer;
  transition-duration: 300ms;
  color: rgba(153, 34, 34, 0.84);
}

.edit-icon:hover{
  cursor: pointer;
  transition-duration: 300ms;
  color: rgba(34, 99, 153, 0.84);
}

.list-items{
  background-color: rgba(0, 145, 255, 0.126);
  padding: 2px 8px 2px 8px;
  color: rgb(37, 37, 113);
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0px;
  background-color: #000000a4;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
}
.dropdown-content Link {
  text-decoration: none;
  display: block;
}

.menu-drop-links{
  color: white;
  margin-top: 10px;
}


.dropdown:hover .dropdown-content {display: block;}

.img-box{
  cursor: pointer;
}
.img-cross{
  opacity: 0.5;
  color: rgb(190, 65, 65);
  position: absolute;
  margin-left: 8.5%;
  margin-top: 3.5%;
  background-color: rgba(201, 201, 201, 0.811);
  font-size: 38px;
  border-radius: 50px;
}
.img-box:hover > .img-cross{
  opacity: 1;
}

.signIn-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.signInBtn {
  background-color: aqua;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.cart-btn{
  background-color: rgb(154, 27, 12)!important;
  color: white;
  font-weight: 600;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  border: none;
}
.cart-btn:hover{
  transition-duration: 300ms;
  background-color: rgb(70, 17, 3)!important;
}
.cart-btn:disabled{
  background-color: silver!important;
}
.cart-price{
  color: rgb(10, 33, 124);
  font-weight: 600;
  font-size: 20px;
}
.already{
  background-color: rgba(139, 200, 139, 0.655);
  border: 1px solid green;
  padding: 10px;
  text-align: center;
  font-weight: 500;
}

.date-list-boundary{
  border: 1px solid silver;
  margin: 3px;
  padding-top: 9px;
  border-radius: 5px;
}

.date-list-boundary:hover{
  transition-duration: 300ms;
  background-color: rgba(192, 192, 192, 0.153);
}

.specific-date{
  color: grey;
}

.close-icon{
  color: rgb(142, 24, 24);
  font-size: 20px;
  cursor: pointer;
}

.text-shadow{
  text-shadow: 2px 2px 10px #000000;
}