.tour-styles{
  .hero{
    background:linear-gradient(0deg, rgba(29, 55, 110, 0.73), rgba(8, 41, 57, 0.566)), url("../public/images/tour-top-img-1.png"); 
    //background: url("../public/images/tour-top-img-1.png");       
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .navBar{
    text-align: center;
  }
  .navLink{
    display: inline-block;
    min-width: 100px;
    text-decoration: none;
    color: white;

    font-size: 16px;
    font-weight: 600;

    text-shadow: 2px 2px 5px rgba(0,0,0,0.52);
  }

  .section-nav-container{
    padding: 30px 20px 30px 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.349);
  }
  .section-nav{
    transition-duration: 300ms;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    display: inline-block;
    margin-right: 60px;
    color: rgb(159, 158, 158);
  }

  .section-nav:hover{
    transition-duration: 300ms;
    color: rgba(0, 0, 0, 0.838);
  }
  
  .booking-form{
    padding: 20px;
    border-radius: 5px;
    box-shadow: -2px 1px 17px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 1px 17px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 1px 17px -10px rgba(0,0,0,0.75);
  }
  .info-logo{
    margin-right: 15px;
    color: rgb(14, 73, 101);
    font-size: 18px;
  }
  .info-text{
    position: relative;
    top: -1px;
    font-size: 15px;
    color: rgb(71, 71, 71);
  }
  .bt-2{
    position: relative;
    bottom: 4px;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 370px;
    object-fit: cover;
  }

  div.swiper-pagination.swiper-pagination-bullets-dynamic.swiper-pagination-bullets.swiper-pagination-horizontal{
    position: relative;
    top: 0px;
    margin-top: 10px;
  }

  // position:scrollPosition>700?'fixed':'absolute',
  // top:scrollPosition>700?40:345,
  // backgroundColor:'white', 
  // maxWidth:"35%", 
  // right:0, 
  // backgroundColor:'red'

  @media screen and (min-width: 1100px) {
    .book{
      max-width: 38%!important;
      right: 3%;
      background-color: white;
    }
  }
  
  @media screen and (min-width: 1250px) {
    .book{
      max-width: 38%!important;
      right: 3%;
      background-color: white;
    }
  }
  @media screen and (min-width: 1499px) {
    .book{
      max-width: 38%!important;
      right: 6%;
      background-color: white;
    }
  }
  @media screen and (min-width: 1900px) {
    .book{
      max-width: 38%!important;
      right: 5%;
      background-color: white;
    }
  }
  .normal-book{
    position: absolute!important;
    top: 265px!important;
  }
  .fixed-book{
    position: fixed!important;
    bottom: 80px!important;
    right: 50px;
    border-radius: 100%;
    box-shadow: 10px 10px 29px -11px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 29px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 29px -11px rgba(0,0,0,0.75);
  }
}

.img-hover{
  cursor: pointer;
}
.img-hover:hover{
  transition-duration: 200ms;
  box-shadow: 10px 10px 29px -11px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 29px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 29px -11px rgba(0,0,0,0.75);
}

// BTN CSS
.wrapper{
  cursor: pointer;
}
.otherBook-btn{
  background-color: #18858f;
  border: none;
  padding: 20px;
  color: white;
  border-radius: 100%;
}

.tour-features-box{
  box-shadow: -2px 1px 17px -10px rgba(0,0,0,0.75);
  -webkit-box-shadow: -2px 1px 17px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 1px 17px -10px rgba(0,0,0,0.75);
}

.tour-features{
  background-color: #18858f;
  color: white;
  text-align: center;
}

.tour-features-white{
  background-color: white;
  color: #333;
  text-align: center;
}

.tour-map-shadow{
  
  padding: 0px;
  box-shadow: -2px 1px 17px -10px rgba(0,0,0,0.75);
  -webkit-box-shadow: -2px 1px 17px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 1px 17px -10px rgba(0,0,0,0.75);
}

.policies-box{
  background-color: #0f6269;
  padding: 20px;
}


.a{
  text-decoration: none;
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  text-decoration: none;
  color: #333;
  border: 1px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  font-weight: 800;
  transition: all .35s;
}

.a span{
  position: relative;
  z-index: 2;
}

.a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #18858f;
  transition: all .35s;
}

.a:hover{
  color: #fff;
}

.a:hover:after{
  width: 100%;
}